*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  border: solid 1px red;
  margin: auto;
  width: 400px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#display {
  grid-area: 1 / 1 / span 1 / span 4;
  font-size: 3rem;
  text-align: right;
}

#options {
  grid-area: 2 / 1 / span 1 / span 3;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
}

#options > * {
  background-color: lightgrey;
}

#operations {
  grid-area: 2 / 4 / span 4 / span 1;
  display: grid;
}
#operations > * {
  background-color: orange;
}

#equal {
  background-color: orange;
}

#numbers {
  grid-area: 3 / 1 / span 4 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#numbers > * {
  background-color: darkgrey;
}

#num0 {
  grid-area: 4 / 1 / span 1 / span 2;
}

button {
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 10rem;
  margin: 0.4rem;
}
